#Arquivo gitignore criado para excluir dos commits arquivos como da IDE, de copilação etc.

### Java ###
# Arquivos de classes compilados #
*.class

# Arquivos de Log #
*.log

# Arquivos BlueJ #
*.ctxt

# Ferramentas móveis para Java (J2ME) #
.mtj.tmp/

# Arquivos de Pacote #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Logs de falha de máquina virtual #
hs_err_pid*

### Arquivos do NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
build.xml
manifest.mf
nbproject/

# Fim do arquivo #